body { text-align: left;
      background-image: url("");
	    background-size: cover;	   
      -webkit-background-size: cover;
     -moz-background-size: cover;
      -o-background-size: cover;
      
      margin-left: 10px;


}
