body { text-align: left;
    background-image: url("http://wallpapercave.com/wp/CDLhKuS.jpg");
	opacity: 0.5;	
	background-size: cover;	   
      -webkit-background-size: cover;
     -moz-background-size: cover;
      -o-background-size: cover;
       margin-left: 10px;

