
.imageclass {
   position: relative;
}
.imageclass {
	
	background-size: cover;	   
       	-webkit-background-size: cover;
      	-moz-background-size: cover;
	-o-background-size: cover;
         
	
	
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("http://wallpapercave.com/wp/CDLhKuS.jpg");
    width: 100%;
    height: 100%;
    filter:alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity:.50;
   
}




p{	margin-left: 10px;
	text-align: left;
}

